<h3>Heroes List</h3>

<h3 *ngIf="deletedHero; else nothingWasDelete" >Deleted Hero
  <small class="text-danger">
    {{ deletedHero }}
  </small>
</h3>
<ng-template #nothingWasDelete>
  <h3>You haven't deleted any heroes</h3>
</ng-template>

<button
  *ngIf="heroesNames.length > 0" 
  (click)="deleteLastHero()" 
  class="btn btn-outline-danger">
    Delete last hero
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroesNames"
      class="list-group-item">
    {{ name }}
  </li>
</ul> 